VITE_FIREBASE_API_KEY=AIzaSyDl9GLZCs_7DYxRBnN1mqYcUWKNImnGZdY
VITE_FIREBASE_AUTH_DOMAIN=enterprise-mcp-database-server.firebaseapp.com
VITE_FIREBASE_PROJECT_ID=enterprise-mcp-database-server
VITE_FIREBASE_STORAGE_BUCKET=enterprise-mcp-database-server.firebasestorage.app
VITE_FIREBASE_MESSAGING_SENDER_ID=141045303731
VITE_FIREBASE_APP_ID=1:141045303731:web:564685de712525d015a3c6
VITE_FIREBASE_MEASUREMENT_ID=G-VKQ9YDLJQJ
